{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <form class="row g-3" method="post" action="{{ path('forgetPassword') }}">
        <div class="col-auto">
            <label for="inputPassword2" class="visually-hidden">Email</label>
            <input type="email" class="form-control" id="inputPassword2" placeholder="email" name="email">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">recieve password</button>
        </div>
    </form>
{% endblock %}
