{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="container">
    <H2>Among-Tool</H2>
    <H3>fully dynamic dashboard</H3>
</div>
{% endblock %}
